## Lapathoniia
LAPATHONIIA__API_KEY=sk--yOurApIsEcreTkeY
LAPATHONIIA__BASE_URL="https://api.lapathoniia.top"
LAPATHONIIA__MAX_TOKENS=1000
LAPATHONIIA__TEMPERATURE=0.7
## Server
SERVER__LOGGING_LEVEL=DEBUG or INFO or WARNING or ERROR or CRITICAL
## MeasurementAPI
GOOGLE_ANALYTICS__ID=G-YOURID
GOOGLE_ANALYTICS__SECRET_KEY=yOurApIsEcreTforGA
GOOGLE_ANALYTICS__DEBUG=false or true
