## Lapathoniia
LAPATHONIIA__API_KEY=sk--yOurApIsEcreTkeY
LAPATHONIIA__BASE_URL="https://api.lapathoniia.top"
LAPATHONIIA__MAX_TOKENS=500
LAPATHONIIA__TEMPERATURE=1.0
# Prompts Loader
PROMPTS_LOADER__SYSTEM_PROMPTS_FILENAME=system_prompts.yaml
PROMPTS_LOADER__BASE_SYSTEM_PROMPT_FILENAME=base_system_prompt.yaml
## server
SERVER__LOGGING_LEVEL=DEBUG or INFO or WARNING or ERROR or CRITICAL
