## Lapathoniia
LAPATHONIIA__API_KEY=sk--yOurApIsEcreTkeY
LAPATHONIIA__BASE_URL="https://api.lapathoniia.top"
LAPATHONIIA__MODEL_KEY="mamay"  # or "lapa". Optional, default: "mamay"
LAPATHONIIA__MAX_TOKENS=1000
LAPATHONIIA__TEMPERATURE=0.7
LAPATHONIIA__STREAM="true"  # or "false"
## Server
SERVER__LOGGING_LEVEL="INFO"  # or DEBUG or WARNING or ERROR or CRITICAL, required
## MeasurementAPI
GOOGLE_ANALYTICS__ID=G-YOURID
GOOGLE_ANALYTICS__SECRET_KEY=yOurApIsEcreTforGA
GOOGLE_ANALYTICS__DEBUG="false"  # or "true"
